/* Mobile menu up to 768px*/


.mobileMenu {
    width: 100%;
    height:  1000px;
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    background: #272a32;
    opacity: 0.95;
    top: 0;
    left: 0;
    z-index: 10;

}

.mobileMenu div {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobileMenu a {

    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
}

.mobileMenu a:hover {
    color: #ec5242;
  }
  
  .btMob {
    position: absolute;
    left:  80%;
    top: 2%;
  }

  .logoMenu {
    margin-top: 4%;
    width: auto;
    height: 100px;
  }

  .buttonX {
    width: auto;
    height:45px;

  }

  .mobileMenu {
    display: none;
  }
  
